In [224]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\ashlie\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ashlie\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\ashlie\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashlie\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashlie\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\ashlie\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\ashlie\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ashlie\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashlie\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashlie\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashlie\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\ashlie\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashlie\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashlie\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashlie\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashlie\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [225]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [226]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [227]:
driver.get(' https://www.naukri.com/')

In [228]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [229]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Delhi")

In [230]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
Search.click()

In [231]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_require=[]

In [240]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags:
     title=i.text
     Job_title.append(title)

In [241]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    Job_location.append(location)

In [242]:
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags:
    company=i.text
    Company_name.append(company)

In [243]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience=i.text
    Experience_require.append(experience)

In [244]:
len(Job_title),len(Job_location),len(Company_name),len(Experience_require)

(25, 20, 19, 20)

In [237]:
df=pd.DataFrame({'Title':Job_title,'Location':Job_location,'Company':Company_name,'Experience':Experience_require})
df

Empty DataFrame
Columns: [Title, Location, Company, Experience]
Index: []

In [245]:
driver.get(' https://www.shine.com/')

In [248]:
designation1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation1.send_keys('Data Analyst')

In [249]:
location1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location1.send_keys('Banglore')

In [251]:
Search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
Search.click()

In [252]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [253]:
title_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tag:
    title=i.text
    job_title.append(title)

In [254]:
location_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag:
    location=i.text
    job_location.append(location)

In [255]:
company_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tag:
    company=i.text
    company_name.append(company)

In [256]:
experience_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tag:
    experience=i.text
    experience_required.append(experience)

In [257]:
len(job_title),len(job_location),len(company_name),len(experience_required)

(20, 20, 20, 20)

In [258]:
gf=pd.DataFrame({'Job Title':job_title,'Job location':job_location,'Company name':company_name,'Experience':experience_required})
gf

,Job Title,Job location,Company name,Experience
0,Data Analyst,Mumbai City\n+9,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Gurugram\n+6,techno endura,0 to 1 Yr
2,Data Analyst,Gurugram\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Oman\n+12,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Gurugram\n+6,techno endura,0 to 1 Yr
5,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
6,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
7,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
8,Oracle Utilities (customer care & Billing) CC&...,Mumbai City\n+2,ltimindtree limited,5 to 9 Yrs
9,Clinical Data Associate,Gurugram\n+6,techno endura,0 to 1 Yr
10,Immediate Opening for a Basic Typing operator,Mumbai City\n+9,v-tech data outsourcing,0 to 1 Yr
11,Data Science Architect,Gurugram\n+4,symphoni hr pvt. ltd.,8 to 10 Yrs
12,Data Engineer,Bangalore,spm hr solutions,4 to 6 Yrs
13,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
14,Part-Time Data Entry Operator work,Bangalore\n+9,aspect solution,0 to 1 Yr
15,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
16,Business Analyst Urgent Vacancy,Canada\n+15,renuka interprises,0 to 4 Yrs
17,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
18,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
19,Business Analyst Recruitment,Canada\n+15,renuka interprises,0 to 4 Yrs

In [ ]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [ ]:
Rating=[]
Review_summary=[]
Full_review=[]

In [ ]:
start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        Rating.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
len(Rating)

In [ ]:
Rating

In [ ]:
start=0
end=10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
len(Review_summary)

In [ ]:
Review_summary

In [ ]:
start=0
end=10
for page in range(start,end):
    fullreviews=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreviews:
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
len(Full_review)

In [ ]:
Full_review

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
Shoes=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
Shoes.send_keys('Sneakers')

In [ ]:
Search=driver.find_element(By.CLASS_NAME,"_2iLD__")
Search.click()

In [ ]:
Brand=[]
Product_description=[]
Price=[]

In [ ]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
len(Brand)

In [ ]:
Brand

In [ ]:
start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        Product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
len(Product_description)

In [ ]:
Product_description

In [ ]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
len(Price)

In [ ]:
Price

In [ ]:
driver.get(' https://www.amazon.in/')

In [ ]:
laptop=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('Laptop')

In [ ]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Search.click()

In [ ]:
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[19]/span/span[10]/li/span/a/span')
cpu.click()

In [ ]:
Title=[]
Ratings=[]
Prices=[]

In [ ]:
title1_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title1_tag:
    title=i.text
    Title.append(title)

In [ ]:
rating=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in rating:
    Ratings.append(i.text)

In [ ]:
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price:
    Prices.append(i.text)

In [ ]:
len(Title),len(Ratings),len(Prices)

In [ ]:
driver.get('https://www.azquotes.com/')

In [ ]:
top_quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

In [ ]:
Quotes=[]
Author=[]
Type_of_quotes=[]

In [ ]:
quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes:
    Quotes.append(i.text)

In [ ]:
len(Quotes)

In [ ]:
author=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author:
    Author.append(i.text)

In [ ]:
len(Author)

In [ ]:
typeof_quotes=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typeof_quotes:
    Type_of_quotes.append(i.text)

In [ ]:
len(Type_of_quotes)